.title {
  margin-bottom: 32px;
}

.wrapper {
  display: flex;
  gap: 32px;

  .t-card-common-shadow {
    width: 100%;
    max-width: 50%;
    padding: var(--base-padding);
    overflow: auto;
  }
}
